{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}
<div class="about-section">
    <h2>About Notes App</h2>

    <p>Notes App is a simple note management system built using Flask and MySQL.</p>

    <ul>
        <li>User Registration & Login</li>
        <li>Password Reset using Email</li>
        <li>Create Notes</li>
        <li>Update Notes</li>
        <li>Delete Notes</li>
        <li>Secure Password Hashing</li>
    </ul>
</div>
{% endblock %}



